<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Admin Login</title>
</head>
<body>

    <h1>Hello im new</h1>
    <form action="/loginadmin" method="post">
  
    <input type="text" placeholder="email" name="email">
  
    <input type="submit"  value="Login" />
    
    <!-- <input type="text" placeholder="balance" name="balance">
    <input type="text" placeholder="adminid" name="adminid"> -->
</form>

</body>
</html>