<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canteen Mangement System</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">MealMate</h1>
          <div class="flex flex-wrap -m-4">
            <div class="p-4 md:w-1/2 w-full">
              <div class="h-full bg-gray-100 p-8 rounded">
               
                <p class="leading-relaxed mb-6">
                    Welcome to the MealMate! Log in to access your personalized dashboard where you can view and order from our daily menu, check your balance, and track your order history. Experience a seamless way to manage your canteen needs with real-time updates and easy online payments. Whether you're craving a quick snack or a full meal, our system ensures a convenient and efficient service every time. Sign in now to get started!
                </p>
                
                <a class="inline-flex items-center" href="/userlogin">
                  <img alt="testimonial" src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?size=338&ext=jpg&ga=GA1.1.2008272138.1721174400&semt=ais_user" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                  <span class="flex-grow flex flex-col pl-4">
                   <span class="title-font font-medium text-gray-900">Sign In as User</span>
                    <span class="text-gray-500 text-sm">GET STARTED</span>
                  </span>
                </a>
              </div>
            </div>
            <div class="p-4 md:w-1/2 w-full">
              <div class="h-full bg-gray-100 p-8 rounded">
                
                <p class="leading-relaxed mb-6">
                    Welcome to the Admin Portal of the MealMate! Log in to manage menu items, view and process orders and track user balances with ease. Our system provides powerful tools to streamline operations, ensuring a smooth and efficient canteen experience for all users. Stay on top of daily activities, generate insightful reports, and maintain full control over the canteen's management. Sign in now to access your administrative dashboard and optimize the canteen services effortlessly.
                </p>
                
                <a class="inline-flex items-center" href="/adminlogin">
                  <img alt="testimonial" src="https://img.freepik.com/premium-photo/chef-logo-design_863013-124567.jpg" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                  <span class="flex-grow flex flex-col pl-4">
                    <span class="title-font font-medium text-gray-900">Sign In as Admin</span>
                    <span class="text-gray-500 text-sm">GET STARTED</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>